container_commands:
    10_install_epel:
        command: "sudo yum install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm"
        ignoreErrors: false
        test: test ! -d "/etc/letsencrypt/"
    20_enable_epel:
        command: "sudo yum-config-manager --enable epel"
        ignoreErrors: false
        test: test ! -d "/etc/letsencrypt/"
    30_install_certbot:
        command: "sudo yum install certbot python3-certbot-nginx"
        ignoreErrors: false
        test: test ! -d "/etc/letsencrypt/"
